a{
  text-decoration: none;
}

body{
  /*background-color: #F8BBD0; */
  background: #005C97; 
  background: -webkit-linear-gradient(to left, #000428 , #004e92); 
  background: linear-gradient(to left, #000428 , #004e92);
}


.centeredText{
  text-align: center;
}

.box-shadow{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.body-text{
  background-color: white;
  padding: 1rem;
  font-size: 2.4rem;
  border-radius: 0 0 10px 10px;
}

.name{
  padding: 1rem;
  background-color: white;
  text-align:center;
}

.header{
  margin-bottom: 0px;
  background-color: grey;
  border-radius: 10px 10px 0 0;
}
/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet */
@media (min-width: 550px) {
   
}

/* Larger than tablet */
@media (min-width: 750px) {}
/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}