/*

	Color Info
	Background: 			#F7F7FA
	Title: 					#121A54
	Muted-Title: 			#C9CEF4
	Neutral: 				#DFD9D9
	Some Other Title Col: 	#B3C1F0
	Text: 					#343233
	Contrast: 				#DEA9B5

*\

/*

	Overwritten Styles

*/

p, h1, h2, h3, h4, h5, h6, a{
	font-family: 'Muli', Sans-Serif;
	color: #343233
}

body{
	background-color: #F7F7FA;
}

nav{
	display: flex;
	margin: 25px 5%;
}

footer{
	text-align: center;
}

/*

	Header	

*/

#logo{
	padding: 20px;

	color: #F7F7FA;
	background-color: #121A54;

	text-decoration: none;
}

.navbar{
	display: flex;
	align-items: center;

	margin: 0 20px;
	list-style-type: none;
	padding: 10px 0;
	margin-left: auto;


}

.navbar--item a{
	text-transform: lowercase;
	text-decoration: none;

	font-weight: bold;

	margin-left: 2em;

}

.navbar--item a:hover{
	text-decoration: underline;
}


/*

	Main Page

*/

.content--large{
	min-height: 80vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.frontPage{
	font-size: 3em;

	color: #121A54;
}