body {
	color: $text-color;
}

// .top-background {
// 	position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 760px;
//     transform: skewY(-12deg);
//     transform-origin: 0;
//     background-color: #fafaff;
//     z-index: -999;
// }

.container {
	background: $background-color;
	padding: 4rem;
	background: $container-color;
	border-radius: $common-border-radius;
	max-width: 960px;
	margin: 0 auto;
}

.intro {
	margin-top: 20vh;

	h1 {
		font-size: 5rem;
	}

	p {
		font-size: 3rem;
		margin: 5rem 0;
		padding: 0 5rem;
	}
}

.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.project-card {
	margin: 2rem;
	width: 300px;
	display: flex;
	flex-direction: column;
	border-radius: $common-border-radius;

	@include card(3, black);

	&__pic {
		border-radius: $common-border-radius;
		align-self: center;
		max-height: 300px;
		flex: 0 1 auto;
	}
}

.project-card-info {
	flex: 1 1 auto;
	margin: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__title {
		margin: 1rem 0;
		text-align: center;
	}

	&__description {
	}

	&__tools {
		margin: 1rem 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		p {
			border-radius: $common-border-radius;
			color: $container-color;
			background-color: $tools-color;
			padding: 1rem;
			margin: 0.2rem 1rem;
		}
	}

	&__links {
		font-size: 2.0rem;
		margin: 1rem 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		a {
			border-radius: $common-border-radius;
			color: $container-color;
			background-color: $links-color;
			padding: 1rem;
			margin: 0 1rem;
			text-decoration: none;
			transition: 0.2s;
		}

		a:hover{
			background-color: darken($links-color, 10%);
			transform: translateY(-1px);
		}
	}
}

@media (min-width: 550px) {

}

@media (min-width: 650px) {
	.project-card {
		width: 250px;

		&__pic {
			max-height: 250px;
		}
	}
}

@media (min-width: 927px) {

	.projects {
		display: block;
	}

	.project-card {
		margin: 10rem auto;
		width: 90%;
		flex-direction: row;
		border-radius: $common-border-radius;
		&__pic {
			width: 100%;
			height: auto;
			max-height: 350px;
			flex: 0 1 auto;
			&--left {
				clip-path: circle(100% at 0 50%);
			}

			&--right {
				clip-path: circle(100% at 100% 50%);
				order: 1;
			}
		}
	}
}