// Color Scheme
$text-important: #9284FF;
$background-color: linear-gradient(to right, #9284ff 0%,#aea5ff 100%); 


$text: rgba(37, 40, 61, 1);
$alt-color-one: rgba(255, 94, 91, 1);
$alt-color-two: rgba(247, 193, 116, 1);
$container-color: rgba(255, 255, 250, 1);
